{% extends 'base.html' %}

{% block title %}เอกสารประกอบการเรียน{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{url_for('index')}}">หน้าแรก</a></li>
<li class="breadcrumb-item active" aria-current="page">เอกสารประกอบการเรียน</a></li>
{% endblock %}

{% block content %}

<div class="container">
  <h1>เอกสารประกอบการเรียน</h1>

  <br>

  <!-- บทที่ 1 - 3 -->
  <div class="row row justify-content-center">
    <div class="col-4">
      <div class="card border-dark" style="width: 20rem;">
        <img src="{{url_for('static',filename='icon1.jpg')}}" class="card-img-top" alt="..." width="20px" height="150px">
          <div class="card-body">
              <h5 class="card-title">บทที่ 1</h5>
              <p class="card-text">บทนำ (Introduction)</p>
              <br>
              <a href="{{url_for('static',filename='chap1.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                Download
              </a>
              <a href="{{url_for('quiz_chap1')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
          </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card border-dark" style="width: 20rem;">
          <img src="{{url_for('static',filename='icon2.png')}}" class="card-img-top" alt="..." width="20px" height="150px">
            <div class="card-body">
                <h5 class="card-title">บทที่ 2</h5>
                <p class="card-text">
                    เอเยนต์ฉลาด (Intelligent Agents)
                </p>
                <br>
                <a href="{{url_for('static',filename='chap2.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                    Download
                </a>
                <a href="{{url_for('quiz_chap2')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
            </div>
        </div>
    </div>
    <div class="col-4">
      <div class="card border-dark" style="width: 20rem;">
        <img src="{{url_for('static',filename='icon3.jpg')}}" class="card-img-top" alt="..." width="20px" height="150px">
          <div class="card-body">
              <h5 class="card-title">บทที่ 3</h5>
              <p class="card-text">การแก้ปัญหาโดยวิธีค้นหา (Problem Solving by Searching)</p>
              <a href="{{url_for('static',filename='chap3.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                Download
              </a>
              <a href="{{url_for('quiz_chap3')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
          </div>
      </div>
    </div>
  </div>

  <br>

  <!-- บทที่ 4 - 6 -->
  <div class="row row justify-content-center">
    <div class="col-4">
        <div class="card border-dark" style="width: 20rem;">
          <img src="{{url_for('static',filename='icon4.png')}}" class="card-img-top" alt="..." width="20px" height="150px">
            <div class="card-body">
                <h5 class="card-title">บทที่ 4</h5>
                <p class="card-text">
                    การค้นหาแบบใช้ข้อมูล (Informed Search)
                </p>
                <a href="{{url_for('static',filename='chap4.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                    Download
                </a>
                <a href="{{url_for('quiz_chap4')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
            </div>
        </div>
    </div>
    <div class="col-4">
      <div class="card border-dark" style="width: 20rem;">
        <img src="{{url_for('static',filename='icon5.png')}}" class="card-img-top" alt="..." width="20px" height="150px">
          <div class="card-body">
              <h5 class="card-title">บทที่ 5</h5>
              <p class="card-text">เอเยนต์ตรรกะ (Logical Agents)</p>
              <br>
              <a href="{{url_for('static',filename='chap5.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                Download
              </a>
              <a href="{{url_for('quiz_chap5')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
          </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card border-dark" style="width: 20rem;">
            <div class="card-body">
              <img src="{{url_for('static',filename='icon6.png')}}" class="card-img-top" alt="..." width="20px" height="150px">
                <h5 class="card-title">บทที่ 6</h5>
                <p class="card-text">ตรรกศาสตร์อันดับหนึ่ง (First-Order Logic)</p>
                <br>
                <a href="{{url_for('static',filename='chap6.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                    Download
                </a>
                <a href="{{url_for('quiz_chap6')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
            </div>
        </div>
    </div>
  </div>

  <br>

  <!-- บทที่ 7 - 8 -->
  <div class="row row justify-content-center">
    <div class="col-4">
      <div class="card border-dark" style="width: 20rem;">
          <div class="card-body">
            <img src="{{url_for('static',filename='icon7.jpg')}}" class="card-img-top" alt="..." width="20px" height="150px">
              <h5 class="card-title">บทที่ 7</h5>
              <p class="card-text">การสรุปความในตรรกศาสตร์อันดับหนึ่ง (Inference in First-Order Logic)</p>
              <a href="{{url_for('static',filename='chap7.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                Download
              </a>
              <a href="{{url_for('quiz_chap7')}}" class="btn btn-outline-danger btn-sm">Quiz</a>
          </div>
      </div>
    </div>
    <div class="col-4">
        <div class="card border-dark" style="width: 20rem;">
            <div class="card-body">
              <img src="{{url_for('static',filename='icon8.jpg')}}" class="card-img-top" alt="..." width="20px" height="150px">
                <h5 class="card-title">บทที่ 8</h5>
                <p class="card-text">การวางแผน (Planning)</p>
                <br>
                <a href="{{url_for('static',filename='chap8.pdf')}}" class="btn btn-outline-primary btn-sm" target="_blank">
                    Download
                </a>
                <!-- <a href="#" class="btn btn-outline-danger btn-sm">Quiz</a> -->
            </div>
        </div>
    </div>
  </div>

</div>

<br>  

{% endblock %}