{% extends 'base.html' %}

{% block title %}Quiz บทที่ 1{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{{url_for('index')}}">หน้าแรก</a></li>
<li class="breadcrumb-item"><a href="{{url_for('lessons')}}">เอกสารประกอบการเรียน</a></li>
<li class="breadcrumb-item active" aria-current="page">Quiz บทที่ 1</a></li>
{% endblock %}

{% block content %}

<div class="container">
  <h1>Quiz บทที่ 1</h1>

  <br>

  <div class="accordion" id="accordionExample">

    <!-- Quiz No.1 -->
    <div class="card">
      <div class="card-header" id="headingOne">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Quiz No.1
          </button>
        </h2>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
          <p>จงยกตัวอย่างการใช้แอพพลิเคชันที่อาศัยความสามารถในเรื่องต่อไปนี้ </p>
          <ol>
            <li>ภาษาธรรมชาติ</li>
            <li>การสรุปความ</li>
            <li>การวางแผน</li>
            <li>ระบบผู้เชี่ยวชาญ</li>
            <li>การมองเห็น </li>
            <li>วิทยาการหุ่นยนต์</li>
          </ol>
        </div>
      </div>
    </div>

    <!-- Quiz No.2 -->
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h2 class="mb-0">
          <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Quiz No.2
          </button>
        </h2>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
          <p>อ่านเรื่องต่อไปนี้ แล้วพิจารณาว่าในสาขาทั้ง 6 ด้านของ AI มีสาขาใดบ้างที่ถูกนำมาใช้ พร้อมทั้งยกหลักฐานสนับสนุนให้เห็นจริง</p>
          <br>
          <p>“จากตอนหนึ่งของการ์ตูนเรื่อง บั๊กส์บันนี่ กระต่ายแสนกล เอลเมอร์ ฟัดจ์ ได้สั่งซื้อหุ่นยนต์มากำจัดบั๊กส์บันนี่ และได้นำรูปภาพกระต่ายมาให้หุ่นยนต์ดู 
            หุ่นยนต์จดจำรูปนั้นไว้ แล้วออกเดินไปเรื่อย ๆ เพื่อหาว่ากระต่ายอยู่ที่ไหน เมื่อไปพบลาตัวหนึ่งยืนอยู่ในคอก หุ่นยนต์เห็นลามีหูยาวคล้ายกับกระต่ายในรูป
            ก็ยกปืนขึ้นยิงลาตัวนั้น เอลเมอร์วิ่งมาร้องบอกว่า ไม่ใช่ ๆ กระต่ายต้องมีหูยาวแบบนี้ ว่าแล้วก็เอาหูกระต่ายมาติดที่หูตัวเอง 
            แล้วทำท่ากระโดดสี่ขาเลียนแบบกระต่ายให้ดู หุ่นยนต์มองเอลเมอร์ แล้วก็ชักปืนออกมายิง”</p>
        </div>
      </div>
    </div>
  </div>

</div>
  

{% endblock %}